@model EntityFramework1.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIRE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIRE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOB_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMISSION_PCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMISSION_PCT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANAGER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANAGER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMPLOYEE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
