@model IEnumerable<EntityFramework1.Models.EMPLOYEE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HIRE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JOB_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMISSION_PCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANAGER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIRST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIRE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JOB_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMISSION_PCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANAGER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMPLOYEE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMPLOYEE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMPLOYEE_ID })
        </td>
    </tr>
}

</table>
